<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogCleaner.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>	
	</startup>
    <userSettings>
        <LogCleaner.My.MySettings>
            <setting name="LastRunTime" serializeAs="String">
                <value>02/09/2021 22:04:00</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>TsdOdRXrNUveiuQrtIT5UjuyeTWDK1ttvkcnCmyWwBXWB9gDWaf08uhzK65u/O7OR4bhq30d50gaOIAI1/d2oikcLulWsfD/SfAOBiyWCJTYG2uCtsoJ//gEL8yvICklaCoZ96T+8A3o8p1Pq3L32udLPXo4jzxxz2IZNv8tLxWfu/3Pxlo2x0IYq4Atvydr</value>
    <!--DEV-->
    <!--<value>TsdOdRXrNUveiuQrtIT5UjuyeTWDK1ttvkcnCmyWwBXWB9gDWaf08uhzK65u/O7OR4bhq30d50gaOIAI1/d2orP4OgOeZhlVfnvr6Rc/uWV9LeJqfxBhowHJWqAwpq3pgbkviPza85y0BKbsYknF/aCk3prVW57mo2CLY9o71+c=</value>/>-->

    <!--TEST-->
    <!-- <value>=TsdOdRXrNUveiuQrtIT5UjuyeTWDK1ttvkcnCmyWwBXWB9gDWaf08uhzK65u/O7OR4bhq30d50gaOIAI1/d2oikcLulWsfD/SfAOBiyWCJTYG2uCtsoJ//gEL8yvICklaCoZ96T+8A3o8p1Pq3L32udLPXo4jzxxz2IZNv8tLxWfu/3Pxlo2x0IYq4Atvydr</value> -->
   
    <!--PROD-->
    <!--<value>TsdOdRXrNUveiuQrtIT5UjuyeTWDK1ttvkcnCmyWwBXWB9gDWaf08uhzK65u/O7OR4bhq30d50gaOIAI1/d2oq3gtDAL33ziap+n8eUqrV+AhcxYEFVR/DIOjARAk8RgcdWYsZZ6cMOov/S1J2WJXA/8LCHF9Dd1TTEHwVJIjVc=</value>/>-->

			</setting>
            <setting name="BackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
			<setting name="BackupFolderPath" serializeAs="String">
                <value>D:\IATA-Tools 2010\LogCleaner\backup</value>
            </setting>
            <setting name="ClearEventLog" serializeAs="String">
                <value>True</value>
            </setting>
			<!-- Period in months for cleaning EventLogs -->
			<setting name="CleanEventsLogsInterval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ClearStatusDataLog" serializeAs="String">
                <value>True</value>
            </setting>
			<!-- Period in months for cleaning StatusLogs -->
			<setting name="CleanStatusLogsInterval" serializeAs="String">
                <value>3</value>
            </setting>
			<!-- Server where application is running Web/App -->
            <setting name="Server" serializeAs="String">
                <value>App</value>
            </setting>
            <setting name="NextRunUnit" serializeAs="String">
                <value>2</value>
				<!-- Day = 1
			     Month = 2
                 Year = 3-->
            </setting>
            <setting name="NextRunInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </LogCleaner.My.MySettings>
    </userSettings>
</configuration>